<!DOCTYPE html>
<html>
    <head>
        <title>Campgrounds</title>
    </head>
    <body>
        <h1>All Campgrounds</h1>
        <% for(let campground of campgrounds) {%>
            <li><a href=campgrounds/<%= campground._id %>><%= campground.title %></a></li>
        <%}%>
    </body>
</html>