<!DOCTYPE html>
<html>
    <head>
        <title>show</title>
    </head>
    <body>
        <h1>CAMPGROUND SHOW</h1>
        <h1><%= campground.title %></h1>
        <h2><%= campground.location %></h2>
    </body>
</html>